Podfile.lock
.DS_Store
Pods/
Conflate.xcworkspace
Conflate.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
Conflate.xcodeproj/xcuserdata/mac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Conflate.xcodeproj/project.xcworkspace/xcuserdata/
Conflate.xcodeproj/xcuserdata/
